{% extends 'base.html.twig' %}

{% block title %}Administrateur{% endblock %}

{% block contenu %}
    <h1>Administrateur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ administrateur.id }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ administrateur.username }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ administrateur.roles ? administrateur.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ administrateur.password }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ administrateur.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ administrateur.prenom }}</td>
            </tr>
            <tr>
                <th>Contact</th>
                <td>{{ administrateur.contact }}</td>
            </tr>
            <tr>
                <th>Creer_le</th>
                <td>{{ administrateur.creerLe ? administrateur.creerLe|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Creer_par</th>
                <td>{{ administrateur.creerPar }}</td>
            </tr>
            <tr>
                <th>Modifie_le</th>
                <td>{{ administrateur.modifieLe ? administrateur.modifieLe|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Modifie_par</th>
                <td>{{ administrateur.modifiePar }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_administrateur_index') }}">back to list</a>

    <a href="{{ path('app_administrateur_edit', {'id': administrateur.id}) }}">edit</a>

    {{ include('administrateur/_delete_form.html.twig') }}
{% endblock %}
