{% extends 'base.html.twig' %}

{% block title %}Reservation{% endblock %}

{% block contenu %}
<div class="container"></br>

    <center><h1>Informations De La Reservation   <i class="fas fa-calendar-check"></i></h1></center></br><br>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reservation.id }}</td>
            </tr>
            <tr>
                <th>DateReservation</th>
                <td>{{ reservation.dateReservation ? reservation.dateReservation|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>HeureDebut</th>
                <td>{{ reservation.heureDebut ? reservation.heureDebut|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>HeureFin</th>
                <td>{{ reservation.heureFin ? reservation.heureFin|date('H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>
</br></br>
    <div>
        <a href="{{ path('app_reservation_index') }}", class="btn btn-primary" style="background-color: #007bff; color: #fff; text-decoration: none;">RETOUR</a>

    {# <a href="{{ path('app_responsable_edit', {'id': responsable.id}) }}", class="btn btn-primary" style="background-color: #007bff; color: #fff; text-decoration: none;">MODIFER</a> #}

    <button class="btn btn-danger" style="margin-left: 60em;">SUPPRIMER</button>

    {{ include('reservation/_delete_form.html.twig') }}
    </div>

</div>

</div>
{% endblock %}
