{% extends 'base.html.twig' %}

{% block title %}Client {% endblock %}

{% block contenu %}
<div class="container"></br>


<center><h1>Client  <i class="fas fa-user"></i></h1></center></br>

    <table class="table">
        <thead>
            <tr style="background-color: #007bff; color: #fff;">
                <th style="padding: 10px;">Id</th>
                <th style="padding: 10px;">Nom</th>
                <th style="padding: 10px;">Prenom</th>
                <th style="padding: 10px;">Username</th>
                <th style="padding: 10px;">Contact</th>
                <th style="padding: 10px;">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ client.id }}</td>
                <td>{{ client.nom }}</td>
                <td>{{ client.prenom }}</td>
                <td>{{ client.username }}</td>
                <td>{{ client.contact }}</td>
                {# <td>{{ gerant.password }}</td>
                <td>{{ gerant.roles ? gerant.roles|json_encode : '' }}</td>
                <td>{{ gerant.creerLe ? gerant.creerLe|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ gerant.creerPar }}</td>
                <td>{{ gerant.modifieLe ? gerant.modifieLe|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ gerant.modifiePar }}</td> #}
                <td>
                    <a href="{{ path('app_client_show', {'id': client.id}) }}" class="btn btn-primary" style="background-color: #808080; color: #fff; text-decoration: none;">APERÇU</a>
                    <a href="{{ path('app_client_edit', {'id': client.id}) }}" class="btn btn-primary" style="background-color: #808080; color: #fff; text-decoration: none;">MODIFIER</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table><br>

    <a href="{{ path('app_client_new') }}" style="display: inline-block; background-color: #007bff; color: #fff; text-decoration: none; padding: 10px 20px; font-size: 16px; border-radius: 4px; transition: background-color 0.3s;">Ajouter un Client</a>


</div>
{% endblock %}
