{% extends 'base.html.twig' %}

{% block title %}Gerant{% endblock %}

{% block contenu %}
<div class="container"></br>


<center><h1>Gérant  <i class="fas fa-user"></i></h1></center></br>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Username</th>
                <th>Password</th>
                <th>Contact</th>
                
                {# <th>Roles</th>
                <th>Creer_le</th>
                <th>Creer_par</th>
                <th>Modifie_le</th>
                <th>Modifie_par</th> #}
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for gerant in gerants %}
            <tr>
                <td>{{ gerant.id }}</td>
                <td>{{ gerant.username }}</td>
                <td>{{ gerant.roles ? gerant.roles|json_encode : '' }}</td>
                <td>{{ gerant.password }}</td>
                <td>{{ gerant.nom }}</td>
                <td>{{ gerant.prenom }}</td>
                <td>{{ gerant.contact }}</td>
                <td>{{ gerant.creerLe ? gerant.creerLe|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ gerant.creerPar }}</td>
                <td>{{ gerant.modifieLe ? gerant.modifieLe|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ gerant.modifiePar }}</td>
                <td>
                    <a href="{{ path('app_gerant_show', {'id': gerant.id}) }}">show</a>
                    <a href="{{ path('app_gerant_edit', {'id': gerant.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_gerant_new') }}" style="display: inline-block; background-color: #007bff; color: #fff; text-decoration: none; padding: 10px 20px; font-size: 16px; border-radius: 4px; transition: background-color 0.3s;">Ajouter un Gérant</a>


</div>
{% endblock %}
