{% extends 'base.html.twig' %}

{% block title %}Motel{% endblock %}

{% block contenu %}
<div class="container"></br>

    <center><h1>Informations Du Motel  <i class="fas fa-hotel"></i></h1></center></br><br>


    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ motel.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ motel.nom }}</td>
            </tr>
            <tr>
                <th>Emplacement</th>
                <td>{{ motel.emplacement }}</td>
            </tr>
        </tbody>
    </table>
</br></br>
    <div>
        <a href="{{ path('app_motel_index') }}", class="btn btn-primary" style="background-color: #007bff; color: #fff; text-decoration: none;">RETOUR</a>

    {# <a href="{{ path('app_responsable_edit', {'id': responsable.id}) }}", class="btn btn-primary" style="background-color: #007bff; color: #fff; text-decoration: none;">MODIFER</a> #}

    <button class="btn btn-danger" style="margin-left: 60em;">SUPPRIMER</button>

    {{ include('motel/_delete_form.html.twig') }}
    </div>

</div>
</div>
{% endblock %}
