{% extends 'base.html.twig' %}

{% block title %}Chambres index{% endblock %}

{% block contenu %}
<div class="container"></br>


<center><h1>Liste des Chambres  <i class="fas fa-hotel"></i></h1></center></br>

    <table class="table">
        <thead>
            <tr style="background-color: #007bff; color: #fff;">
                <th style="padding: 10px;">Id</th>
                <th style="padding: 10px;">Numero de Chambre</th>
                <th style="padding: 10px;">Libelle</th>
                <th style="padding: 10px;">Prix Horaire</th>
                <th style="padding: 10px;">Description</th>
                <th style="padding: 10px;">Categorie</th>
                <th style="padding: 10px;">Motel</th>
                <th style="padding: 10px;">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for chambre in chambres %}
            <tr>
                <td>{{ chambre.id }}</td>
                <td>{{ chambre.numeroChambre }}</td>
                <td>{{ chambre.libelle }}</td>
                <td>{{ chambre.prixHoraire }}</td>
                <td>{{ chambre.description }}</td>
                <td>{{ chambre.categorie }}</td>
                <td>{{ chambre.motel }}</td>
                <td>
                    <a href="{{ path('app_chambres_show', {'id': chambre.id}) }}" class="btn btn-primary" style="background-color: #808080; color: #fff; text-decoration: none;">APERÇU</a>
                    <a href="{{ path('app_chambres_edit', {'id': chambre.id}) }}" class="btn btn-primary" style="background-color: #808080; color: #fff; text-decoration: none;">MODIFIER</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table></br>

<a href="{{ path('app_chambres_new') }}" style="display: inline-block; background-color: #007bff; color: #fff; text-decoration: none; padding: 10px 20px; font-size: 16px; border-radius: 4px; transition: background-color 0.3s;">Ajouter une Chambre</a>


</div>
{% endblock %}
