{% extends 'base.html.twig' %}

{% block title %}Chambres{% endblock %}

{% block contenu %}
<div class="container"></br>

    <center><h1>Informations De la Chambre  <i class="fas fa-hotel"></i></h1></center></br>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ chambre.id }}</td>
            </tr>
            <tr>
                <th>NumeroChambre</th>
                <td>{{ chambre.numeroChambre }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ chambre.libelle }}</td>
            </tr>
            <tr>
                <th>PrixHoraire</th>
                <td>{{ chambre.prixHoraire }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ chambre.description }}</td>
            </tr>
        </tbody>
    </table>
</br></br>
    <div>
        <a href="{{ path('app_chambres_index') }}", class="btn btn-primary" style="background-color: #007bff; color: #fff; text-decoration: none;">RETOUR</a>

    {# <a href="{{ path('app_responsable_edit', {'id': responsable.id}) }}", class="btn btn-primary" style="background-color: #007bff; color: #fff; text-decoration: none;">MODIFER</a> #}

    <button class="btn btn-danger" style="margin-left: 62em;">SUPPRIMER</button>

    </div>

</div>
{% endblock %}
