{{ form_start(form) }}
    {{ form_widget(form, {'attr': {'class': 'form form-control'}}) }}
</br>
    <div>
    <button class="btn btn-primary btn-primary-hover">{{ button_label|default('AJOUTER') }}</button>
    <a href="{{ path('app_comptable_index') }}" class="btn btn-primary">RETOUR</a>
    </div>
{{ form_end(form) }}
